# Folders to ignore
node_modules/
dist/
lib
!src/lib
.ext

# Extensions
*.orig
*.log

# Config files
**/config.php
**/config.prod.php
/src/api/config.php
.ftppass

# Runtime cache
**/.popular-cache.json

# Deploy config
.deploy-config

# OS / Editor Files
.DS_Store
Thumbs.db
.cache
.project
.settings
*.sublime-project
*.sublime-workspace
