      <div ng-show="activeLink == 'manage'" class="panel panel-default">
        <div class="panel-body">
          <a href ng-click="navigate('profile')" class="btn btn-default btn-sm"
            >&laquo; Back to Profile</a
          >
          <h1>{{manageBallot.name}}</h1>
          <h4>
            Shortcode: {{manageBallot.key}} &nbsp; Voting URL: {{origin}}/{{manageBallot.key}}
          </h4>
          <h4>
            Vote Cutoff: {{!manageBallot.voteCutoff ? 'never' :
            manageBallot.voteCutoff.tz(moment.tz.guess()).format('MMM Do YYYY, h:mm a z')}}
            <button
              ng-if="(!manageBallot.voteCutoff || manageBallot.voteCutoff > now) && manageBallot.totalVotes > 0"
              ng-click="endVotingNow()"
              class="btn btn-warning btn-sm"
              style="margin-left: 10px"
            >
              End Voting Now
            </button>
          </h4>
          <hr />
          <div class="row">
            <div class="col-md-8">
              <div ng-if="manageBallot.allowGrouping == 1" style="margin-bottom: 20px">
                <h3 class="pointer" ng-click="showManageGroups = !showManageGroups" style="display: inline-block">
                  <i class="fa" ng-class="showManageGroups ? 'fa-chevron-down' : 'fa-chevron-right'" style="width: 14px"></i>
                  Voter Prompts
                </h3>
                <button ng-if="manageBallot.totalVotes == 0 && !editingManageGroupFields"
                        ng-click="startEditManageGroupFields()" class="btn btn-default btn-sm"
                        style="margin-left: 8px; position: relative; top: -2px">
                  Edit
                </button>
                <div ng-show="showManageGroups">
                  <!-- Editing mode -->
                  <div ng-if="editingManageGroupFields">
                    <div style="margin-bottom: 15px; padding: 10px; background: #f0f8ff; border-radius: 4px; border: 1px solid #d6e9f8">
                      <label style="margin-bottom: 4px">Voter Names:</label>
                      <div>
                        <label class="radio-inline">
                          <input type="radio" value="0" name="manage-voter-register" ng-model="manageBallot.register" />Optional
                        </label>
                        <label class="radio-inline">
                          <input type="radio" value="1" name="manage-voter-register" ng-model="manageBallot.register" />Required
                        </label>
                        <label class="radio-inline">
                          <input type="radio" value="2" name="manage-voter-register" ng-model="manageBallot.register" />Anonymous
                        </label>
                      </div>
                    </div>
                    <div style="margin-bottom: 15px; padding-left: 15px; border-left: 3px solid #5bc0de">
                      <h4>Custom Voter Prompts</h4>
                      <div
                        ng-repeat="field in groupFields track by $index"
                        ng-init="fieldIdx = $index"
                        style="margin-bottom: 12px; padding: 10px; background: #f9f9f9; border-radius: 4px"
                      >
                        <div class="form-group" style="margin-bottom: 5px">
                          <div class="row">
                            <div class="col-sm-3">
                              <input type="text" ng-model="field.title" class="form-control input-sm"
                                placeholder="Short title (e.g. Affiliation)" maxlength="64" />
                            </div>
                            <div class="col-sm-4">
                              <input type="text" ng-model="field.question_text" class="form-control input-sm"
                                placeholder="Question for voters (e.g. What is your party?)" maxlength="256" />
                            </div>
                            <div class="col-sm-2">
                              <select ng-model="field.type" ng-change="onFieldTypeChange(field)" class="form-control input-sm">
                                <option value="select">Dropdown</option>
                                <option value="checkbox">Checkbox</option>
                                <option value="text">Text Input</option>
                              </select>
                            </div>
                            <div class="col-sm-2" ng-hide="field.type === 'checkbox'">
                              <label class="checkbox-inline" style="line-height: 30px">
                                <input type="checkbox" ng-model="field.required" /> Required
                              </label>
                            </div>
                            <div class="col-sm-1">
                              <i ng-click="removeGroupField($index)" class="fa fa-close pointer"
                                style="line-height: 30px; color: #d9534f"></i>
                            </div>
                          </div>
                        </div>
                        <div ng-show="field.type === 'select'" style="padding-left: 20px">
                          <div ng-repeat="opt in field.options track by $index" style="margin-bottom: 3px">
                            <div class="input-group input-group-sm" style="max-width: 300px">
                              <input type="text" ng-model="field.options[$index]"
                                ng-keydown="$event.keyCode === 13 && addGroupOption(fieldIdx); $event.keyCode === 13 && $event.preventDefault()"
                                class="form-control group-choice-{{fieldIdx}}"
                                placeholder="Choice {{$index + 1}}" maxlength="128" />
                              <span class="input-group-btn">
                                <button type="button" ng-click="removeGroupOption($parent.$index, $index)" class="btn btn-default btn-sm">
                                  <i class="fa fa-close"></i>
                                </button>
                              </span>
                            </div>
                          </div>
                          <button type="button" ng-click="addGroupOption(fieldIdx)" class="btn btn-default btn-xs" style="margin-top: 3px">
                            + Add Choice
                          </button>
                        </div>
                      </div>
                      <button type="button" ng-click="addGroupField()" class="btn btn-default btn-sm">
                        + Add Prompt
                      </button>
                    </div>
                    <div style="margin-top: 15px">
                      <label>
                        <input type="checkbox" ng-model="manageBallot.hideDetails" />
                        Hide detailed results, including breakdowns by prompts above
                      </label>
                    </div>
                    <div style="margin-top: 15px">
                      <button type="button" ng-click="saveManageGroupFields()" class="btn btn-info btn-sm">
                        Save
                      </button>
                      <button type="button" ng-click="cancelEditManageGroupFields()" class="btn btn-default btn-sm">
                        Cancel
                      </button>
                    </div>
                  </div>
                  <!-- Read-only mode -->
                  <div ng-if="!editingManageGroupFields">
                    <div ng-if="!manageGroupFields || !manageGroupFields.length" class="text-muted">
                      No voter prompts defined.
                    </div>
                    <div ng-repeat="field in manageGroupFields" style="margin-bottom: 10px; padding: 8px; background: #f9f9f9; border-radius: 4px">
                      <strong>{{displayTitle(field.title)}}</strong>
                      <span class="text-muted">({{field.type === 'checkbox' ? 'Checkbox' : field.type === 'text' ? 'Text Input' : 'Dropdown'}})</span>:
                      {{field.question_text}}
                      <div ng-if="field.type !== 'text'" style="padding-left: 15px; margin-top: 4px">
                        <span ng-repeat="opt in field.options" class="label label-default" style="margin-right: 4px">{{opt.label}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <h3 ng-show="manageBallot.isSecure == 1">Voter Codes ({{manageCodes.length}})</h3>
              <div ng-if="manageBallot.isSecure == 1 && (!manageBallot.voteCutoff || manageBallot.voteCutoff > now)" class="form-inline" style="margin-bottom: 15px">
                <input
                  type="number"
                  ng-model="moreCodeCount"
                  min="1"
                  max="500"
                  class="form-control"
                  style="width: 100px"
                  placeholder="10"
                />
                <button ng-click="requestMoreCodes(moreCodeCount)" class="btn btn-success btn-sm">
                  Request More Codes
                </button>
                <button ng-click="printCodeSheet()" class="btn btn-default btn-sm">
                  <i class="fa fa-print"></i> Print Code Sheet
                </button>
              </div>
              <table ng-show="manageBallot.isSecure == 1" class="table table-condensed">
                <thead>
                  <tr>
                    <th
                      class="pointer"
                      ng-click="manageSort = 'code'; manageSortReverse = !manageSortReverse"
                    >
                      Code
                      <i
                        class="fa"
                        ng-class="{'fa-sort-asc': manageSort === 'code' && !manageSortReverse, 'fa-sort-desc': manageSort === 'code' && manageSortReverse, 'fa-sort': manageSort !== 'code'}"
                      ></i>
                    </th>
                    <th
                      class="pointer"
                      ng-click="manageSort = 'label'; manageSortReverse = !manageSortReverse"
                    >
                      Label
                      <i
                        class="fa"
                        ng-class="{'fa-sort-asc': manageSort === 'label' && !manageSortReverse, 'fa-sort-desc': manageSort === 'label' && manageSortReverse, 'fa-sort': manageSort !== 'label'}"
                      ></i>
                    </th>
                    <th
                      class="pointer"
                      ng-click="manageSort = 'votedAt'; manageSortReverse = !manageSortReverse"
                    >
                      Voted At
                      <i
                        class="fa"
                        ng-class="{'fa-sort-asc': manageSort === 'votedAt' && !manageSortReverse, 'fa-sort-desc': manageSort === 'votedAt' && manageSortReverse, 'fa-sort': manageSort !== 'votedAt'}"
                      ></i>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    ng-repeat="code in manageCodes | orderBy:manageSort:manageSortReverse track by code.code"
                    ng-class="{'success': code.votedAt}"
                  >
                    <td class="voter-code">
                      {{code.code}}
                    </td>
                    <td>
                      <input
                        type="text"
                        ng-model="code.label"
                        ng-blur="saveCodeLabel(code)"
                        class="form-control input-sm"
                        placeholder="optional label"
                        style="
                          max-width: 180px;
                          border: none;
                          box-shadow: none;
                          background: transparent;
                        "
                      />
                    </td>
                    <td>
                      <span ng-show="code.votedAt">{{code.votedAt}}
                        <a href ng-if="!manageBallot.voteCutoff || manageBallot.voteCutoff > now" ng-click="resetSecureVote(code)" class="text-danger" style="margin-left: 8px" title="Reset this vote">
                          <i class="fa fa-undo"></i>
                        </a>
                      </span>
                      <span ng-if="!code.votedAt && (!manageBallot.voteCutoff || manageBallot.voteCutoff > now)" class="text-muted">available
                        <a href ng-click="code.confirmDelete = true" ng-show="!code.confirmDelete" class="text-danger" style="margin-left: 8px" title="Remove this code">
                          <i class="fa fa-trash"></i>
                        </a>
                        <span ng-show="code.confirmDelete" style="margin-left: 8px">
                          <i class="fa fa-trash" style="visibility: hidden"></i>
                          <button ng-click="deleteCode(code)" class="btn btn-danger btn-xs">Sure?</button>
                        </span>
                      </span>
                      <span ng-if="!code.votedAt && manageBallot.voteCutoff && manageBallot.voteCutoff <= now" class="text-muted">unused</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-4">
              <h3>Quick Stats</h3>
              <div ng-if="manageBallot.isSecure == 1">
                <p>Total codes: {{manageCodes.length}}</p>
                <p>Voted: {{manageCodes.length - manageCodesAvailable}}</p>
                <p ng-if="!manageBallot.voteCutoff || manageBallot.voteCutoff > now">Available: {{manageCodesAvailable}}</p>
                <p ng-if="manageBallot.voteCutoff && manageBallot.voteCutoff <= now">Unused: {{manageCodesAvailable}}</p>
              </div>
              <div ng-if="manageBallot.allowGrouping == 1 && manageGroupFields.length">
                <p><strong>Voter Prompts:</strong></p>
                <p ng-repeat="field in manageGroupFields">
                  {{displayTitle(field.title)}}: {{field.options.length}} choices
                </p>
              </div>
              <hr />
              <div class="manage-actions">
                <a ng-if="manageBallot.totalVotes > 0" href="/results#{{manageBallot.key}}" target="_blank" class="btn btn-default btn-sm">
                  View Results
                </a>
                <button ng-if="manageBallot.totalVotes > 0" ng-click="exportCsv(manageBallot)" class="btn btn-default btn-sm">
                  <i class="fa fa-download"></i> Export to CSV
                </button>
                <button ng-if="manageBallot.totalVotes == 0" ng-click="changeBallot(manageBallot)" class="btn btn-warning btn-sm">
                  <i class="fa fa-pencil"></i> Edit Ballot
                </button>
                <button ng-click="duplicateBallot(manageBallot)" class="btn btn-default btn-sm">
                  <i class="fa fa-clone"></i> Duplicate Ballot
                </button>
                <button ng-click="copyToClipboard(origin + '/' + manageBallot.key)" class="btn btn-default btn-sm">
                  Copy Voting URL
                </button>
                <button ng-click="transferBallot(manageBallot)" class="btn btn-default btn-sm">
                  <i class="fa fa-exchange"></i> Transfer Ownership
                </button>
                <button
                  ng-if="(!manageBallot.voteCutoff || manageBallot.voteCutoff > now) && manageBallot.isSecure == 1"
                  ng-click="deleteSecureBallot()"
                  ng-disabled="manageCodesAvailable < manageCodes.length"
                  class="btn btn-danger btn-sm"
                  style="margin-top: 10px"
                  uib-tooltip="{{manageCodesAvailable < manageCodes.length ? 'Must not have any votes to delete' : ''}}"
                  tooltip-placement="top"
                >
                  <i class="fa fa-trash"></i> Delete Ballot
                </button>
                <button
                  ng-if="manageBallot.isSecure != 1"
                  ng-click="deleteSecureBallot()"
                  class="btn btn-danger btn-sm"
                  style="margin-top: 10px"
                >
                  <i class="fa fa-trash"></i> Delete Ballot
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>