h2 About
ul
	li Better representation
	li No “Settling”
	li No wasted votes
	li Vote by preference
	li Great for multi-seat elections
	li Easy to use
p.
	Single transferable voting is about representing the people in the best way possible. The key is allowing the voter to choose more than just their favorite candidate. The problem with only voting for one choice, is that if that choice does not come in first or second, it could be considered a “wasted vote.” Therefore, people are more likely to vote for their second or third choice on the idea that it has a higher chance of winning and it’s better than their last choice.
p.
	With Ranked Choice Voting, there is no issue with voting for your first choice first, second choice second, and third choice third. Because if your first choice doesn’t win, then your vote automatically gets transferred to your second choice! And that is the beauty of the system.
p.
	Another thing it works really well for voting for more than one position. Everyone’s vote is still counted as one vote, but if their first choice is elected, then a portion of their vote goes to second place. To better illustrate this point, there is a video that describes the use of ranked choice voting in the Animal Kingdom:
.fluid-video-wrapper
	iframe(src="https://www.youtube.com/embed/l8XOZJkozfI" frameborder="0" allowfullscreen)