div(ng-show="editBallot")
	select.form-control(ng-model="ballot" ng-options="item as item.name for item in allBallots track by item.id" ng-change="changeEditBallot()")

h1
	span(ng-show="editBallot") Edit&nbsp;
	| Ballot: {{ballot.name}}
include ../partials/form
div(ng-if="entries")
	include ../partials/new-entries