.row
	.col-sm-6.text-center
		h1 RCV
		h2.hidden-xs.hidden-sm Ranked Choice Vote
		h3.hidden-md.hidden-lg Ranked Choice Vote
		p A better way to vote. Whether voting for one position or multiple, ranked choice voting allows for the greatest representation of the voters. Click "About" to learn more!
		a.btn.btn-primary(href="create") Create a Ballot
	.col-sm-6
		a.btn.btn-primary(href="create")
			img.img.img-responsive.vote-button(src="http://lwv.org/files/every_vote_counts_button_0.jpg")