.row
	.col-sm-6.text-center
		h1 STV
		h2.hidden-xs.hidden-sm Single Transferable Vote
		h3.hidden-md.hidden-lg Single Transferable Vote
		p A better way to vote. Whether voting for one position or multiple, single transferable voting allows for the greatest representation of the voters. Click "About" to learn more!
		button.btn.btn-primary(ng-click="navigate('create')") Create a Ballot
	.col-sm-6
		img.img.img-responsive.vote-button(src="http://lwv.org/files/every_vote_counts_button_0.jpg")