div(ng-hide='candidates')
	h1 Vote!
	include ../partials/shortcode
div(ng-if='candidates' ng-hide="thanks")
	h1 Ballot: {{ballot.name}}
	h2 Order by Preference
	h3(ng-show='ballot.positions > 1') {{ballot.positions}} positions available
	form(name='voteForm' ng-submit='submitVote()')
		ul#sortable(ui-sortable ng-model='candidates')
			li(ng-repeat='item in candidates track by $index' data-id='{{item.entry_id}}') {{item.name}}
				i.fa.fa-close(ng-click="removeCandidate($index)")
		button.btn.btn-primary.clearfix(type='submit') Vote!
		button.btn.btn-default(type="button" ng-click='resetCandidates()') Reset
div(ng-show="thanks")
	h1 Ballot: {{ballot.name}}
	h3 Thank you for voting!