include partials/mixins

doctype html
html(ng-app='mainApp')
	include partials/head
	body(ng-cloak ng-controller='MainCtrl')
		.container
			h2 Single Transferable Vote Calculator
			h5 A better way of voting
			include partials/navbar
			.panel.panel-default(ng-show="activeLink == 'register'")
				.panel-body
					include pages/register.html
			.panel.panel-default(ng-show="activeLink == 'home'")
				.panel-body
					include pages/home
			.panel.panel-default(ng-show="activeLink == 'about'")
				.panel-body
					include pages/about
			.panel.panel-default(ng-show="activeLink == 'create' || activeLink == 'edit'")
				.panel-body
					include pages/create-edit
			.panel.panel-default(ng-show="activeLink == 'vote'")
				.panel-body
					include pages/vote
			.panel.panel-default(ng-show="activeLink == 'results'")
				.panel-body
					include pages/results
			.panel.panel-default(ng-show="activeLink == 'results' && showText")
				.panel-heading
					h3.panel-title Detailed Results
				.panel-body(ng-bind-html="bodyText")
			include partials/footer
		| @@javascriptReplaceFiles