# Prevent caching of index.html so users always get the latest version
<Files "index.html">
  Header set Cache-Control "no-cache, must-revalidate"
</Files>

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^.*$ - [L]

RewriteRule ^/?ballot/[^/]+/?$ /index.html [L,QSA]

RewriteRule ^/?([^/]+)/?$ #$1 [L,QSA]

<Files 403.shtml>
order allow,deny
allow from all
</Files>
