<!doctype html>
<html ng-app="mainApp">
  <head>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta charset="UTF-8" />
    <meta name="description" content="Free RCV Calculator App" />
    <meta name="author" content="Moritz Company" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta
      name="google-signin-client_id"
      content="828084230115-98814hb54sbrs34jjiecfirgak4svths.apps.googleusercontent.com"
    />
    <title>Ranked Choice Free Voting App</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Noto+Serif:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="prefetch" href="/img/wink-sprite.png" as="image" />
    <link rel="stylesheet" href="/main.css" />

    <!-- Load vendor libraries from CDN with local fallbacks -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/lib/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>window.jQuery && window.jQuery.ui || document.write('<script src="/lib/jquery-ui.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
    <script>window._ || document.write('<script src="/lib/lodash.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script>window.moment || document.write('<script src="/lib/moment.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.43/moment-timezone-with-data.min.js"></script>
    <script>window.moment && window.moment.tz || document.write('<script src="/lib/moment-timezone-with-data.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
    <script>window.angular || document.write('<script src="/lib/angular.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-animate.min.js"></script>
    <script>window.angular && window.angular.version || document.write('<script src="/lib/angular-animate.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>window.jQuery && window.jQuery.fn.modal || document.write('<script src="/lib/bootstrap.min.js"><\/script>')</script>

    <!-- Load timezone-picker as regular script (needs moment to be available) -->
    <script src="/inc/timezone-picker.js"></script>

    <!-- Now load our bundled app code (deferred until all sync scripts finish) -->
    <script type="module" src="/main-entry.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-97773273-1"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.2.4/purify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <script>window.QRCode || document.write('<script src="/lib/qrcode.min.js"><\/script>')</script>
    <script src="https://cdn.jsdelivr.net/npm/@fingerprintjs/fingerprintjs@4/dist/fp.min.js"></script>
    <script>window.FingerprintJS || document.write('<script src="/lib/fp.min.js"><\/script>')</script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-97773273-1');
    </script>
    <base href="/" />
    <script type="text/javascript"></script>
  </head>

  <body ng-cloak ng-controller="MainCtrl">
    <div class="container">
      <h2>Ranked Choice Voting App</h2>
      <h5>A better way of voting</h5>
    </div>
    <nav role="navigation" class="navbar-fairvote navbar">
      <div class="container">
        <div class="row">
          <div class="navbar-header">
            <button
              type="button"
              data-toggle="collapse"
              data-target="#navbar"
              aria-expanded="false"
              class="navbar-toggle collapsed"
            >
              <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span
              ><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li
                ng-repeat="nav in navItems"
                ng-class="{'active': nav.link == activeLink}"
                ng-hide="nav.hide"
              >
                <a href="/{{nav.link}}" ng-click="navigate(nav.link)"
                  >{{nav.text}}<span ng-if="nav.link == activeLink" class="sr-only"
                    >(current)</span
                  ></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
<!-- include: pages/register.html -->
<!-- include: pages/home.html -->
<!-- include: pages/about.html -->
<!-- include: pages/hall-of-fame.html -->
<!-- include: pages/create.html -->
<!-- include: pages/code.html -->
<!-- include: pages/vote.html -->
<!-- include: pages/results.html -->
<!-- include: pages/profile.html -->
<!-- include: pages/manage.html -->
<!-- include: pages/custom-html-editor.html -->
<!-- include: pages/results-detail.html -->
      <footer>
        <a class="float-right pull-right" href="https://paypal.me/rankedchoices" target="_blank"
          >🧸 Buy me a bear?</a
        >
        <small
          >&copy; 2016-2026 Ranked Choices Vote Calculator &bull;
          <a href="https://rankedchoices.com/terms-of-service.html" target="_blank"
            >Terms of Service</a
          ></small
        >
      </footer>
    </div>
<!-- include: modals/edit-entry-modal.html -->
<!-- include: modals/dup-ballot-modal.html -->
<!-- include: modals/transfer-ballot-modal.html -->
<!-- include: modals/iframe-help-modal.html -->
<!-- include: modals/custom-instructions-modal.html -->
<!-- include: modals/device-vote-help-modal.html -->
<!-- include: modals/delete-account-modal.html -->
<!-- include: modals/rcvis-modal.html -->
<!-- include: modals/delete-ballot-modal.html -->
<!-- include: modals/reset-votes-modal.html -->
  </body>
</html>
