h3 Thank you for creating a ballot!
h4 Send this url to people for voting:
h4.text-success http://rankedchoices.com/{{ballot.key}}
a(href="http://rankedchoices.com/vote#{{ballot.key}}") Click here to vote yourself