form(name='ballotForm' ng-submit='newBallot()' ng-hide='entries')
	.form-group
		label Ballot Name
		input.form-control(name="name" ng-model="ballot.name")
		span.text-danger(ng-show='errors.name') {{errors.name}}
	.form-group
		label Shortcode (for link {{origin}}/{{ballot.key}})
		.input-group
			input.form-control(name="key" ng-model="ballot.key" ng-pattern-restrict pattern="\\w*" ng-change="checkAvailability()" maxlength=16 ng-readonly="editBallot")
			span.input-group-btn
				button.btn.btn-secondary(type="button" ng-click="generateRandomKey()" ng-disabled="editBallot") New Shortcode
		span.text-danger(ng-show='errors.key') {{errors.key}}
		span.text-success(ng-show='success.key') {{success.key}}
	.form-group
		label Advanced Options
			input(type="checkbox" ng-model="advancedOptions")
	div(ng-show="advancedOptions")
		.form-group
			label Positions to be Elected
			input.form-control(type="number" name="positions" ng-model="ballot.positions")
			span.text-danger(ng-show='errors.positions') {{errors.positions}}
		.form-group(ng-show="user.name")
			label Created By {{user.name}}
		.form-group(ng-show="ballot.createdBy == 'guest'")
			label Created By
				small.text-muted  using default "guest" will restrict future editing. Please&nbsp;
					a.btn-link(href="register") Sign in
					|  to allow future editing.
			input.form-control(name="createdBy" ng-model="ballot.createdBy" readonly)
			span.text-danger(ng-show='errors.createdBy') {{errors.createdBy}}
		.form-group
			h4(ng-hide="editDate || editTime") Voting Cutoff: never (check box for custom)
			h4(ng-show="editDate || editTime") Voting Cutoff: {{editDate ? (ballot.voteCutoff | date: "MMM d, y") : "Today, at"}} {{ballot.voteCutoff | date: "h:mm a" }}
			label Edit Time
				input(type="checkbox" ng-model="editTime")
			uib-timepicker(ng-show="editTime" ng-model="ballot.voteCutoff" minute-step="1")
			label Edit Date
				input(type="checkbox" ng-model="editDate")
			.input-group(ng-show="editDate")
				input.form-control(type="text" ng-focus="releaseOpen = true" uib-datepicker-popup="{{pickerFormat}}" datepicker-options="pickerOptions" ng-model="ballot.voteCutoff" is-open="releaseOpen")
				span.input-group-btn
					button.btn.btn-default(type="button" ng-click="releaseOpen = !releaseOpen")
						i.fa.fa-calendar
		.form-group
			label Release Results:
				span(ng-hide="showRelease || editDate || editTime")  immediately (check box for custom)
				span(ng-hide="showRelease || (!editDate && !editTime)")  after voting (check box for custom)
				input(type="checkbox" ng-model="showRelease" ng-click="sameTime()")
				small.text-muted(ng-show="showRelease && ballot.resultsRelease")  {{ballot.resultsRelease | date: dateFormat }}
			div(ng-show="showRelease")
				.input-group
					input.form-control(type="text" ng-focus="cutoffOpen = true" uib-datepicker-popup="{{pickerFormat}}" datepicker-options="pickerOptions" ng-model="ballot.resultsRelease" is-open="cutoffOpen")
					span.input-group-btn
						button.btn.btn-default(type="button" ng-click="cutoffOpen = !cutoffOpen")
							i.fa.fa-calendar
				uib-timepicker(ng-model="ballot.resultsRelease" minute-step="15")
		.form-group
			label Tie-Break Method:
			div
				label.radio-inline(title="Randomly determine the order of candidates being eliminated")
					input(type="radio" value="random" name="tie-break-method" ng-model="ballot.tieBreak")
					| Random (official)
				label.radio-inline(title="Observe the preference of secondary choices to determine")
					input(type="radio" value="weighted" name="tie-break-method" ng-model="ballot.tieBreak")
					| Weighted
				label.radio-inline(title="All candidates in a tie are simultaneously eliminated")
					input(type="radio" value="none" name="tie-break-method" ng-model="ballot.tieBreak")
					| No Winner
		.form-group(ng-hide="true")
			label Require Voter Sign-in:
				span(ng-hide="ballot.requireSignIn")  (with either Google or Facebook)
				input(type="checkbox" ng-model="ballot.requireSignIn")
			div(ng-show="ballot.requireSignIn")
				.input-group
					span.input-group-addon Max votes per person
					input.form-control(type="number" ng-model="ballot.maxVotes")
	input.btn.btn-info(type="submit" value="Submit" ng-disabled="errors.key")