head
	script(src='https://apis.google.com/js/platform.js' async defer)
	meta(charset='UTF-8')
	meta(name='description', content='STV Calculator App')
	meta(name='author', content='Moritz Company')
	meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
	meta(name='apple-mobile-web-app-capable' content='yes')
	meta(name='apple-touch-fullscreen' content='yes')
	meta(name='google-signin-client_id' content='828084230115-98814hb54sbrs34jjiecfirgak4svths.apps.googleusercontent.com')
	title Single Transferable Vote Calculator App
	link(rel='shortcut icon', href='favicon.ico')
	link(rel='stylesheet', href='https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
	link(rel='stylesheet', href='inc/main.css')
	script(src='inc/angular.js')