form.navbar-form.navbar-left(role="search")
	.form-group
		input.form-control(type="text" placeholder="Search")
	button.btn.btn-default(type="submit") Submit
ul.nav.navbar-nav.navbar-right
	li
		a(href="#") Link
	li.dropdown
		a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Dropdown 
			span.caret
		ul.dropdown-menu
			li
				a(href='#') Home
			li
				a(href='#') About
			li
				a(href='#') Create a new ballot!
			li
				a(href='#') Edit Ballot!
			li
				a(href='#') Results
			li
				a(href='#') Vote!